/* LOGO LIFE COFFEE */

.logo-box{

border:2px solid white;

padding:20px 40px;

display:inline-block;

}


.logo-box h1{

margin:0;

font-size:70px;

letter-spacing:10px;

font-weight:900;

}



/* MENU TITLE */

#menu h2{

font-size:45px;

letter-spacing:5px;

margin-bottom:40px;

text-transform:uppercase;

}
