*{
box-sizing:border-box;
}


body{

margin:0;

background:#000;

color:white;

font-family:Arial,sans-serif;

}




.hero{

height:350px;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

}



.logo-box{

border:2px solid #d6b36a;

padding:20px 40px;

}



.logo-box h1{

margin:0;

font-size:70px;

letter-spacing:8px;

}



.hero h3{

font-size:30px;

letter-spacing:10px;

}



.hero p{

color:#ccc;

}




#menu{

padding:40px;

text-align:center;

}



#menu h2{

font-size:40px;

}




.categories{

display:flex;

justify-content:center;

gap:15px;

margin-bottom:40px;

}



.categories button{


background:#151515;

color:white;

border:1px solid #555;

padding:12px 30px;

border-radius:30px;

}





.menu-container{

display:flex;

justify-content:center;

gap:25px;

flex-wrap:wrap;

}



.card{

background:#151515;

width:230px;

padding:25px;

border-radius:20px;

border:1px solid #333;

}



.card p{

color:#d6b36a;

}



.card button{


padding:12px 30px;

border-radius:30px;

border:0;

}




.cart{

position:fixed;

right:20px;

top:20px;

width:300px;

background:#111;

padding:25px;

border-radius:20px;

z-index:1000;

}




.popup{

display:none;

position:fixed;

inset:0;

background:rgba(0,0,0,.8);

justify-content:center;

align-items:center;

z-index:2000;

}



.popup-box{

background:#151515;

padding:30px;

border-radius:20px;

text-align:center;

}




.mobile-cart-btn{

display:none;

}






@media(max-width:900px){


.cart{

bottom:-500px;

top:auto;

left:10px;

right:10px;

width:auto;

transition:.3s;

}


.cart.show-cart{

bottom:20px;

}



.mobile-cart-btn{


display:block;

position:fixed;

right:20px;

bottom:20px;

width:65px;

height:65px;

border-radius:50%;

background:#d6b36a;

border:none;

font-size:25px;

z-index:1500;

}



.menu-container{

display:grid;

grid-template-columns:1fr 1fr;

gap:15px;

}



.card{

width:100%;

padding:15px;

}



.logo-box h1{

font-size:40px;

}


}
